section.main-head#services
    .main-head_text.wow.zoomInDown
        h2 What we offer
        span.podtext Vestibulum elementum ex ullamcorper ligula vulputate
    .main-block.wow.zoomIn
        .main-block_icon.first
        .main-block_text
            h3 Vivamus tincidunt
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
    .main-block.wow.zoomIn
        .main-block_icon.second
        .main-block_text
            h3 Etiam porttitor sagittis ipsum
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
    .main-block.wow.zoomIn
        .main-block_icon.third
        .main-block_text
            h3 Vivamus tincidunt diam a iaculis
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
    .main-block.wow.zoomIn
        .main-block_icon.four
        .main-block_text
            h3 Donec metus augue
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
    .main-block.wow.zoomIn
        .main-block_icon.fifeth
        .main-block_text
            h3 Aliquam sed mollis
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
    .main-block.wow.zoomIn
        .main-block_icon.sixe
        .main-block_text
            h3 Vestibulum placerat nisl quis
            p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
