- var navText = ["Home", "Services", "About", "portfolio", "Testimous","contact"]
header.header#home
	#carousel-1.owl-carousel.owl-theme
		.item
			.item-info
				.item-info-text Simple,Fresh & Unique Design  <br>
									span.item-info-text_small Donec posuere augue venenatis
				a(href="#").item-info-btn show more
		.item
			h4 2
		.item
			h4 3
	.header-container
		.header-logo Business Name
		.hamburger.hamburger--elastic
			.hamburger-box
				.hamburger-inner
		//- ul.nav
		//- 	each val in navText
		//- 		li.nav-li
		//- 			a(href="#").nav-link= 
		ul.nav
			li.nav-li
				a(href="#home").nav-link Home
			li.nav-li
				a(href="#services").nav-link services
			li.nav-li
				a(href="#about").nav-link about
			li.nav-li
				a(href="#portfolio").nav-link portfolio
			li.nav-li
				a(href="#testimous").nav-link testimous
			li.nav-li
				a(href="#contact").nav-link contact