.footer-foot
    .container
        .footer-foot_content
            .content-text © 2015 Business name.All rights reserved.
            .content-text Designed by Colorpixels.net
            .content-text 
                a(href="#").content-right_icon
                    span.icon-twitter
                a(href="#").content-right_icon
                    span.icon-facebook
                a(href="#").content-right_icon
                    span.icon-linkedin