<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body
		- var navText = ["Home", "Services", "About", "portfolio", "Testimous","contact"]
		.wrapper
			header.header
				.owl-carousel.owl-theme
						.item
							.item-info
								.item-info-text Simple,Fresh & Unique Design  <br>
									span.item-info-text_small Donec posuere augue venenatis
								a(href="#").item-info-btn show more
						.item
							h4 2
						.item
							h4 3
				.header-container
					.header-logo Business Name
					.hamburger.hamburger--elastic
						.hamburger-box
							.hamburger-inner
					ul.nav
						each val in navText
							li.nav-li
								a(href="#").nav-link= val
			main.main
				.container
					section.main-head
						.main-head_text
							h2 What we offer
							span.podtext Vestibulum elementum ex ullamcorper ligula vulputate
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
						.main-block
							.main-block_icon
							.main-block_text
								h3 Vivamus tincidunt 
								p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper. Curabitur tellus ligula, laoreet vitae lectus vitae
				section.main-read
					.main-read_left
					.main-read_right
						.right_text
							.right_text-h3 Who we are
							.right_text-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui massa, condimentum a nisl quis, tristique efficitur erat. Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu efficitur lacus, et blandit tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris quis mattis urna. Suspendisse auctor magna quis ipsum ultrices scelerisque. Vestibulum quis hendrerit enim. Aenean viverra aliquam ex, sed ornare risus porta in.
							.right_text-p Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu efficitur lacus, et blandit tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris quis mattis urna. Suspendisse auctor magna quis ipsum ultrices scelerisque. Vestibulum quis hendrerit enim. Aenean viverra aliquam ex, sed ornare risus porta in.
							.right_text-btn read more
				section.main-work
					.container
						.main-work_see
							h2 see our work
							p Mauris euismod ac nulla vitae fermentum. Morbi ut mauris massa. Sed condimentum elit volutpat turpis sagittis, in scelerisque dui luctus. Nulla id suscipit velit, a maximus massa.
						ul.main-tabs
							li
								a(href="#tab1") all
							li
								a(href="#tab2") web
							li
								a(href="#tab3") logo design
							li
								a(href="#tab4") WordPress
							li
								a(href="#tab5") E-commerce
					.main-tabs-container
						.tab_content#tab1
							.tab_content-info
							.tab_content-info
							.tab_content-info
							.tab_content-info
							.tab_content-info
							.tab_content-info
							.tab_content-info
							.tab_content-info



		script(src="js/all.js")