.footer
    .footer-header
        background: #273a43
        padding-top: 60px
        padding-bottom: 30px
        .business
            display: flex
            flex-flow: row wrap
            justify-content: flex-start
            align-items: flex-start
            &-item
                width: 259 / $container * 100%
                // border: 1px solid red
                margin-right: 30 / $container * 100%
                box-sizing: border-box
                min-height: 200px
                h3
                    text-transform: capitalize
                    color: #fff
                    font-size: 22px
                    line-height: 20px
                .item_text
                    margin-top: 18px
                    font-size: 16px
                    line-height: 20px
                    color: #c4c4c4
                ul
                    list-style-type: none
                    padding: 0
                    li
                        color: #fff
                        font-size: 13px
                        line-height: 30px
                        position: relative
                        [class^="icon-"], [class*="icon-"]
                            font-size: 18px
                            color: #71b6d5
                        .contact_icon
                            text-decoration: none  
                        span.left
                            // border: 1px solid red
                            padding-left: 5px
                            line-height: 18px


