@media screen and (max-width: 856px)
	.header
		.header-container
			.nav
				position: absolute
				// border: 1px solid green
				flex-flow: column nowrap
				// right: 0
				top: 70px
				left: -1000px
				// bottom: 0
				width: 100vw
				// height: 100%
				overflow: hidden
				height: 100vh
				transition-duration: .2s
				&-li
					background: red
					&:nth-child(2n+1)
						background: #ccc
				&-link
					display: block
					// background: #ccc
					// border: 1px solid red
					margin-left: 0
					padding: 15px 25px
					font-size: 22px
					text-align: center
					// border-radius: 10px
					color: black
			.nav-hamb
				// height: 100vh
				// width: 100%
				left: -95px
			.hamburger
				display: block
				position: absolute
				right: 0
	.owl-carousel .owl-nav button.owl-next
		display: none
	.owl-carousel .owl-nav button.owl-prev
		display: none
@media screen and (max-width: 768px)
	.main
		.main-head
			.main-block
				width: 50%
				&:nth-child(2n+1)
					width: 50%
				&_icon
					// flex-shrink: 1.3
	.container
		padding-left: 20px
		padding-right: 20px
	.main
		.main-read
			&_left
				width: 100%
			&_right
				width: 100%
		.main-tabs-container
			.tab_content
				flex-flow: row wrap
				padding-left: 20px
				padding-right: 20px
				justify-content: center
				&-info
					width: 50%
					height: 30vw
		.main-work
			.container
				// border: 1px solid green
				.main-tabs
					flex-flow: row wrap
	.footer
		.container
			.business
				// justify-content: space-between
				&-item
					margin-top: 20px					
					width: 50%
					// border: 1px solid red
					box-sizing: border-box
	                // padding-right: 30 / $container * 100%
					&:nth-child(2n+1)
						padding-right: 30px
					&:nth-child(3n+1)
						// padding-left: 20px
@media screen and (max-width: 480px)
	.main
		.main-head
			.main-block
				width: 100%
				&:nth-child(2n+1)
					width: 100%
	.main
		.main-head
			.main-block
				&_icon
					flex-shrink: 0.68
		.main-tabs-container
			.tab_content
				&-info
					width: 100%
					margin-bottom: 10px
					height: 55vw
		.main-work
			.container
				// border: 1px solid green
				.main-tabs
					// border: 1px solid red
					flex-flow: column nowrap
					align-items: center
					justify-content: flex-start
					li
						margin-left: 0
						// border: 1px solid green
	.footer
		.container
			.business
				&-item
					width: 100%
					margin-top: 20px