section.main-work#portfolio
    .container
        .main-work_see
            h2 see our work
            p Mauris euismod ac nulla vitae fermentum. Morbi ut mauris massa. Sed condimentum elit volutpat turpis sagittis, in scelerisque dui luctus. Nulla id suscipit velit, a maximus massa.
        ul.main-tabs
            li
                a( data-tab="1") all
            li
                a( data-tab="2") web
            li
                a( data-tab="3") logo design
            li
                a( data-tab="4") WordPress
            li
                a( data-tab="5") E-commerce
    .main-tabs-container
        .tab_content(data-tab="1")
            .tab_content-info.one
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.two
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.three
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.foure
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.fife
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.sixe
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.seven
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.eight
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
        .tab_content(data-tab="2")
            .tab_content-info.two
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.three
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.fife
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
        .tab_content(data-tab="3")
            .tab_content-info.one
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.sixe
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.seven
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
        .tab_content(data-tab="4")
            .tab_content-info.foure
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.fife
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.eight
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
        //-  .tab_content(data-tab="5")
            .tab_content-info.sixe
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.one
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress
            .tab_content-info.two
                .info_text
                    h3 Labore et dolore magnam
                    p WordPress